@model IEnumerable<ManageStudentsV2.Models.Nien_khoa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManageStudentHome.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ten_nien_khoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nam_bat_dau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nam_ket_thuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Khoa.ten_khoa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ten_nien_khoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nam_bat_dau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nam_ket_thuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Khoa.ten_khoa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ma_nien_khoa }) |
            @Html.ActionLink("Details", "Details", new { id=item.ma_nien_khoa }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ma_nien_khoa })
        </td>
    </tr>
}

</table>
