@model ManageStudentsV2.Models.Giao_vien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ManageStudentHome.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Giao_vien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ten_giao_vien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten_giao_vien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Khoa.ten_khoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khoa.ten_khoa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ma_giao_vien }) |
    @Html.ActionLink("Back to List", "Index")
</p>
