@model IEnumerable<ManageStudentsV2.Models.Mon_hoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManageStudentHome.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ten_mon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mo_ta_mon)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ten_mon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mo_ta_mon)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ma_mon }) |
            @Html.ActionLink("Details", "Details", new { id=item.ma_mon }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ma_mon })
        </td>
    </tr>
}

</table>
