@model IEnumerable<ManageStudentsV2.Models.Hoc_sinh>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManageStudentHome.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ten_sinh_vien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lop_chinh.ten_lop)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ten_sinh_vien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lop_chinh.ten_lop)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ma_sinh_vien }) |
            @Html.ActionLink("Details", "Details", new { id=item.ma_sinh_vien }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ma_sinh_vien })
        </td>
    </tr>
}

</table>
